/* Navbar.css */
.cross{
    position: absolute;
    top:50px;
    margin-bottom: 50px;
}


.cart-link {
    position: relative;
    display: inline-block;
}

.cart-badge {
    position: absolute;
    top: 15px;
    right: -9px;
    overflow: hidden;
}

.navtext.dropdown {
    position: relative;
    display: inline-block;
    z-index: 999;
}

.dropdown-content {
    display: none;
    position: absolute;
    top:30px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    min-width: 100px;
    font-size: 10px;
}

.navtext.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.top {
    height: 5vh;
    background-color: rgb(32, 31, 31);
    color: #faeedd;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.search-input {
    background-color: rgba(185, 54, 93, 0);
    height: 5vh;
    border: 2px solid rgba(0, 0, 0, 0.853);
}

.top p {
    margin: 0;
}

.top svg {
    width: 20px;
    height: 20px;
}

.top-next {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.searchBar {
    width: 100%;
    z-index: 999;
}

.searchdrop {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background: rgba(224, 196, 174, 0.986);
    height: 20vh;
    transition: all 5s ease-in;
}

.hamburger {
    position: absolute;
    top: 10%;
    left: 5%;
    display: none;
    margin-top: 20px;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    margin-top: 6px;
    background-color: rgb(0, 0, 0);
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navtext {
    text-decoration: none;
    transition: background-size 0.2s ease-in-out;
    
}

.navBar .jscop {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin-left: 2%;
}

.navbar-items {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-right:10px;
}

.navBar .navtext {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1rem;
    margin: 0 10px;
    padding: 4px 6px;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    text-transform: uppercase;
}

.navBar .navtext {
    font-weight: 400; 
    color: saddlebrown;
    text-decoration: none;
    background-image: linear-gradient(#b9365d, #d9af5a);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.7s ease-in-out;
}

.navBar .navtext:hover {
    transform: scale(1.1);
    background-size: 100% 0.1em;
    background-position-x: 0%;
}

.logo-ssc {
    height: 10vh;
}

@media only screen and (max-width: 1160px) {
    .navBar .navtext {
        margin: 0 6px;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 850px) {
    
    .hamburger {
        display: block;
        cursor: pointer;
        height: 40px;
        z-index: -1;
    }

    .navbar-fixed {
        width: 100vw;
        height: 100px;
    }

    .navBar {
        padding: 0;
        position: absolute;
        top: 5vh;
        left: 0;
        right: 0;
        z-index: 999;
        height: 100px;
    }
    .navBar .jscop {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
    }

    .navbar-items {
        position: fixed;
        top: 0;
        left: -100%;
        flex-direction: column;
        background-color: #faeedd;
        width: 80%;
        height: 100%;
        padding-top: 40px;
        padding-left: 40px;
        transition: all 0.3s ease-in-out;
    }

    .mobilemenu {
        left: 0;
    }

    .navBar .navtext:hover {
        background-color: #faeedd;
        border-radius: 5%;
        color: rgb(0, 0, 0);
    }
    .navtext{
        height:100px;
    }
    .mobile-link{
        font-size: 1.5rem;
    }

    svg {
        height: 30px;
        width: 30px;
    }


    
}

@media only screen and (max-width: 520px) {
    .hline1 {
        width: 80%;
    }

    .hline2 {
        width: 80%;
        display: block;
    }

    .hamburger {
        top: 0;
        color: black;
        z-index: -1;
    }

    .navBar {
        height: 50px;
    }
    .navtext{
        height:50px;
    }
    .mobile-link{
        font-size: 20px;
    }

    .navBar .jscop {
        font-size: 1.5rem;
    }
}
