
  .wrapper {
    height: 80vh;
    width: 80vw;
    margin: 0px auto;
    border-radius: 7px 7px 7px 7px;
    display: flex;
  }
  
  .product-img {
    display: flex;
    float: left;
    height: 80vh;
    width: 40vw;
  }
  
  .product-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 40vw;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
  }
  
  .product-text {
    width: 100%;
    margin:0;
  }
  
  .product-text h1 {
    font-size: 34px;
    color: #474747;
  }
  
  .product-text h1,
  .product-price-btn p {
    font-family: 'Bentham', serif;
  }
  
  .product-text h2 {
    margin-top: 0;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
  }
  
  .product-text p {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
  }
  
  .product-price-btn {
    width: 100%;
    text-align: center;
  }

  .product-btns
  {
    display:flex;
  }
  
  .product-price-btn p {
   
    
    height: 20%;
    font-family: 'Trocchi', serif;
   margin:0;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;
  }
  
 
  
  .product-price-btn button {
    
   
    height: 25%;
    width: 50%;
    margin: 0;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #d48926;
    cursor: pointer;
    outline: none;
  }
  .view-img{
    height: 70vh;
    width: 100%;
  }
  .product-price-btn button:hover {
    background-color: #79b0a1;
  }

  @media only screen and (max-width:700px) {
    .wrapper{
      flex-direction: column;
      width: 100%;
      height:auto;
      margin: 0;
    }
    .product-img{
      width: 100%;
      height: auto;
    }
    .view-img{
      height: 50vh;
      width: 80%;
      margin: 40px;
    }
    .product-info{
      width: 100%;
      height: auto;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      padding-left: 20px;
    }
    .product-text h2 {
    
      margin: 0px;
    }
    .product-text h1 {
      padding: 0;
      margin: 0px;
      font-size: 2.5rem;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .product-price-btn{
      text-align: left;
    }
    .product-price-btn button{
      margin: 0;
      width: 90%;
    }
  }



  .wrapper .thumbnails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right:10px;
  }
  
  .wrapper .thumbnail-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
  }
  
  .wrapper .thumbnail-img:hover,
  .wrapper .thumbnail-img:active {
    border: 2px solid #000; /* or any color you prefer */
  }
  




  