.container-card {
  width: 100%;
  height: 400px;
  margin:0;
  background-color: black;
  background-size: cover;
  cursor: pointer;
  
  -webkit-box-shadow: 0 0 5px #000;
        box-shadow: 0 0 5px #000;
  }
.addtocart{
  background-color: #2d2b2b;
  border: 0px;
  color:white;
  text-align: center;
  border-radius: 5px;
  height: 10%;
  margin:2%;
  width: 100%;
  transform: translateY(0px);
  transition: all 0.7s;
  opacity: 0;

}
.addtocart:hover{
  background-color: #ac721a;
  transition: all 0.4s ease-in-out;
}
.overlay {
  height: 100%;
  width: 100%;
  display: flex;
  
  align-items: flex-end;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s;
  font-family: 'Playfair Display', serif;
  background-image: url("img3.jpg");
  background-size: cover;
  color: #FEF5DF;
}
.view-more{
  height: 100%;
  justify-content: center;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head {
  font-size: 1.5rem;
  line-height: 40px;
  font-weight: 300;
}

.price {
  font-size: 1rem;
  line-height: 10px;
  font-weight: bold; 
  color:#ac721a; 
}

.cart {
  font-size: 12px;
  opacity: 0;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  transform: translateY(40px);
  transition: all 0.7s;
  svg {
    font-size: 16px;
    color:#FEF5DF
  }
  span {
    margin-left: 10px;
  }
}

.container-card:hover .overlay {
  opacity: 1;
   .head {
    transform: translateY(0px);
  }
  .addtocart{
    transform: translateY(-20px);
    opacity: 1;
  }
  
   hr {
    width: 75px;
    transition-delay: 0.4s;
  }
  
   .price {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
  }
  
   .cart {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
  }
}

@media only screen and (max-width:700px) {

  .overlay{
    opacity: 1;
  }
  .addtocart{
    opacity: 1;
  }
  
}