.table{
    --bs-table-color:#000000;
    --bs-table-bg: #ffffff;
    --bs-table-hover-color: #ffffff;
}
.remove{
    border: none;
    background-color: #00000000;
    height:50px;
}
.cart-img{
    height:100px;
}
.cart-btn{
    border:none;
    background-color: #00000000;
}
.cart-btns{
    text-align: center;
    width: 70px;
    border-radius: 10px;
    border:1px solid rgb(180, 179, 179);
}
.thead-text{
    color:#a09d9d;
}